* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container-fluid {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header {
  width: 100%;
  min-height: 70vh;
  background-image: url(/AboutImg/header/aboutUs.png);
  background-repeat: no-repeat;
}

.about-us {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text {
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.about-us .text h1 {
  font-size: 46px;
}
.about-us .text p {
  font-size: 18px;
  font-weight: 500;
}
.about-us .author-text {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.about-main {
  width: 63%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  flex-wrap: wrap;
}
.about-main .about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-main .about a {
  width: 200px;
  height: 230px;
  flex-direction: column;
  align-items: center;
  display: flex;
  gap: 5px;
  cursor: pointer;
  text-align: center;
  color: black;
}
.about-main .about a:hover {
  color: red;
}

.about-main .about .main-frame {
  width: 170px;
  height: 190px;
  border-radius: 15px;
  border: 5px solid rgb(215, 210, 210);
  transition-duration: 0.5s;
}

.about-main .about .main-frame:hover {
  border: 5px solid #838383;
  border-radius: 15px;
}

footer {
  width: 100%;
  min-height: 40vh;
  background-image: url(./image/footer/bg.png);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: calc(100% + 30px);
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  padding: 20px;
}
footer a,
h3 {
  color: white;
}
.contact,
.corporate,
.our-product {
  width: 300px;
  height: 100px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.variteks-other {
  margin-top: 20px;
  width: 160px;
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.footer-text{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}