body, a, h1, h2, p {
    font-family: 'Manrope', sans-serif;
}


.language-menu {
    scale: 0;
    transition: all .3s linear;
    padding: 0 0 0 4px;
}

// a  {
//     font-size: 20px;
// }


.language-menu.active-menu {
    scale: 1;
    transform-origin: top;
    z-index: 999;
}

.boxxing {
    nav {
        position: fixed;

        a {
            z-index: 999 !important;
            position: relative;
        }
    }
}

 .mapouter {
     position: relative;
     text-align: right;
     width: 100% !important;
 }

 .gmap_canvas {
     overflow: hidden;
     background: none !important;
     width: 88% !important;
 }



.swiper-container {
    width: 100%;
    height: 100vh;
}

.swipers {
    width: 100%;
    min-height: 100vh;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideOne1 {
    background: url(/image/header-image/slider-1.jpg);
    background-size: cover;
    object-fit: cover;
    width: 100%;
    min-height: 100vh;
}




.slideOne {
    background: url(/image/header-image/slider-2.jpg);
    background-size: cover;
    object-fit: cover;
    width: 100%;
    min-height: 100vh;
}

.slideTwo {
    background: url(/image/header-image/slider-3.jpg);
    background-size: cover;
    object-fit: cover;
    width: 100%;
    min-height: 100vh;
}

.slideThree {
    background: url(/image/header-image/slider-4.jpg);
    background-size: cover;
    object-fit: cover;
    width: 100%;
    min-height: 100vh;
}


.swiper-container {
    margin-left: auto;
    margin-right: auto;
}



.link {
    // display: none !important;
    // transform-origin: top;
    transition: all .2s linear;
    z-index: 999 !important;
    border: solid red;
    top: 0 !important;
    .link-item {
        a {
            transition: all .1s linear;

            &:hover {
                color: red;
            }
        }
    }
}

.link.link-active {
    display: flex !important;
    scale: 1 !important;
    position: fixed !important;
    min-height: 100vh !important;
    background: #fff !important;
    z-index: 999 !important;
}

.contactMenu {
    display: none !important;
}

.contactMenu.conta {
    display: flex !important;
    position: fixed;
    z-index: 977;
}

.navbar-active {
    background: #fff;
}

.bgImageContainer {
    .bgImage {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            .imgAnime {
                animation: mymove .5s infinite;
                position: absolute;
            }

            @keyframes mymove {
                50% {
                    box-shadow: 0 0 12px #da0303;
                }
            }
        }
    }
}


.swiper-button-next,
.swiper-button-prev {
    width: 30px !important;
    height: 30px !important;
    box-shadow: 0 0 1px 2px rgb(197, 197, 197);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 14px !important;
    color: white;
}

.wrap img {
    transition: all .3s linear;
}

.wrap img:hover {
    scale: 1.1;
}

.swiperComp {
    width: 45%;
    min-height: 80vh;
    padding-top: 50px;
}

// 17 КОД 940 Подробности 19 КОД 849 Подробности 2 КОД 202 Подробности 4 КОД 203 Подробности


.footer-container {
    width: 100%;
    min-height: 50vh;
    background: url(/image/footerImage/footer.099b618c655c466e50db.png) no-repeat center;
    background-size: cover;
}

footer {
    padding: 0;
    .footer-container {
        a {
            transition: all .1s linear;
            &:hover {
                color: red;
            }
        }
    }
}



#href-blog {
    border-radius: 0 0 12px 12px;
}

.aboutUsInformation {
    display: none;
}
    

.aboutUsInformation.active {
    display: flex;
}

.aboutwrapter {
    width: 100% !important;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}

.swiper-container .swiper-pagination-bullet {
    width: 10px;
    height: 5px;
    background-color: #c53631;
    border-radius: 12px;
}